/* 外层容器的样式 */
.box{
    width: 900px;
    height: 600px;
    background-color: red;
}

/* 头部样式 */
.header{
    width: 100%;
    height: 100px;
    background-color: palegreen;
}

/* 导航部分的样式 */
.nav{
    width: 900px;
    height: 50px;
    background-color: paleturquoise;
}

/* 主体部分的样式 */
.content{
    /* 块元素不设置宽度的话，宽度默认是父元素的100% */
    /* width: 900px; */

    /* 因为子类浮动，父类若不能高度，则不能被子类撑起。 ---荣耀科技*/
    height: 300px;
    background-color: yellow;
}

/* 
    块元素会独占一整行，宽度默认是父元素的100%，
    高度默认由内容撑起来。在页面中垂直摆放。
    如果要想让块元素能够水平摆放，
    那就给要水平的那几个块元素都设置属性： float:left;
*/
.left{
    width: 300px;
    height: 300px;
    background-color: peachpuff;
    float: left;
}
.middle{
    width: 300px;
    height: 300px;
    background-color: purple;
    float: left;
}
.right{
    width: 300px;
    height: 300px;
    background-color: plum;
    float: left;
}

/* 底部样式 */
.footer{
    width: 100%;
    height: 150px;
    background-color: black;
}